<article class="widget note">

  <div class="window">

    <header class="titlebar clearfix">
      <h1 class="label">Notes</h1>
    </header>

    <div class="toolbar clearfix">
      <select class="dropdown">
        <option disabled selected>Select Widget:</option>
        <option value="bookmark">Bookmark</option>
        <option value="texteditor">Text Editor</option>
        <option value="chat">Chat</option>
        <option value="imageviewer">Image Viewer</option>
        <option value="browser">Browser</option>
      </select>
    </div>

    <ul class="listbox">
      <li class="item">
        <h1 class="label">Add widget from the drop-down menu.</h1>
      </li>
      <li class="item">
        <h1 class="label">Delete widget from the delete button on the right of the titlebar.</h1>
      </li>
      <li class="item">
        <h1 class="label">Move widget from the titlebar.</h1>
      </li>
      <li class="item">
        <h1 class="label">Right-click widget titlebar to rename.</h1>
      </li>
      <li class="item">
        <h1 class="label">Add listbox item by copy-past the URL to the textbox.</h1>
      </li>
      <li class="item">
        <h1 class="label">Delete listbox item from the delete button on the right of the textbox.</h1>
      </li>
      <li class="item">
        <h1 class="label">Move listbox item by drag and drop.</h1>
      </li>
      <li class="item">
        <h1 class="label">Right-click listbox item to rename.</h1>
      </li>
    </ul>

  </div>

</article>
