<article class="widget bookmark">

  <div class="window">

    <header class="titlebar clearfix">
      <h1 class="label"></h1>
      <button type="button" value="delete" class="button">-</button>
    </header>

    <div class="toolbar clearfix">
      <input type="text" placeholder="New Item" class="textbox"/>
      <button type="button" value="add" class="button">+</button>
    </div>

    <ul class="listbox">
      <li class="item clearfix">
        <a href="#" target="_blank" class="link"></a>
        <button type="button" value="delete" class="button">-</button>
      </li>
    </ul>

  </div>

</article>
